@charset "UTF-8";

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-top: 54px;
}

.nav-tabs{
    margin-left: -35px;
}

.nav-link{
    height: 153px;
    writing-mode: tb-rl;
    text-align: center;
    border: 1px solid black;
}

.nav-item{
    border: 1px solid black;
}

.nav-tabs .nav-link {
    border: 1px solid black;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #DFDFF6;
}

.nav-tabs .nav-link.active {
    color: #495057;
    /*background-color:#007bff !important;*/
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.tab-content>.active {
    width: 390px;
    border: 1px solid black;
    margin-top: 54px;
    display: block;
    /*background: #007bff;*/
    margin-left: -166px;
    height: 617px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}

.tab-pane{
    padding: 20px;
    overflow: auto;
}

#keyword{
    overflow: auto;
}



#container{
    position: relative;
}

#title{
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.panel-footer{
    margin-top: 4.7rem;
    width: 440px;
}

#Search{
    width: 215px;
}

#btn-chat{
    width: 75px;
    height: 50px;
}

.panel{
    height: 600px;
}

#back {
    width: 450px;
    height: 700px;
}

#contents{
    padding-top: 10px;
}

#content-box{
    height: 88%;
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

#chat-user{
    font-weight: bold;
    font-size: 18px
}

#chat-user-message{
    float: left;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid white;
    border-radius: 15px;
    background-color: beige;
    padding: 8px; margin-top: -20px; margin-left: -5px
}

#chat-user-time{
    margin-top: 25px;
    font-weight: bold;
}

#chat-me-message{
    float: right;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid white;
    border-radius: 15px;
    background-color: bisque;
    padding: 8px;
}

#chat-me-time{
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

#chat-con, #chat-close{
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.highlight {
    color: white;
    background-color: black;
}

@media screen and (max-width:476px){
    .panel-footer{
        margin-top: 6.5rem;
    }

    #dd{
        margin-top: 10px;
        margin-left: 10px;
    }

    #Search{
        width: 200px;
    }

    #btn_search{
        margin-left: 10px;
    }

    .navbar{
        width: 450px;
    }

    .panel{
        height: 590px;
    }
    .col-md-2{
        margin-left: 30px
    }
    .tab-content{
        width: 20px;
        margin-left: 220px;
        margin-top: -670px;
    }
    .tab-pane{
        padding: 50px;
    }
}