@charset "UTF-8";
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #000066;
    border-radius: 5px;
}
#register {
    background: #000033;
    color: white;
}
#login {
    background: #bfbfbf;
    color: white;
}
.col-md-offset-3 {
	padding-top: 60px;
    padding-bottom: 30px;
}
body {
	min-height: 815px;
}