@charset "UTF-8";

#email_search {
    width: 100%;
    max-width: 500px;
    padding-left: 19px;
    padding-right: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#password_search {
    width: 100%;
    max-width: 500px;
    padding-left: 19px;
    padding-right: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ebt, #pbt {
	background-color: #000066;
	color: white;
}

.nav {
	margin-right: auto;
    margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 992px)
.nav {
    max-width: 960px;
}